@page "/counter/{currentCount:int}"

<Header></Header>

<ClickCounter clickCnt = "@clickCnt"></ClickCounter>

<p class="text-info">Current count: <strong>@currentCount</strong></p>

<Decrease @ref="childDec"></Decrease>
<Increase @ref="childInc"></Increase>
<Reset @ref="childRes"></Reset>

<button class="btn btn-success" @onclick="increase">Increase</button>
<button class="btn btn-secondary" @onclick="decrease">Decrease</button>
<button class="btn btn-danger" @onclick="reset">Reset</button>

@code {
    
    Increase childInc;
    Decrease childDec;
    Reset childRes;

    [Parameter]
    public int currentCount {get;set;}

    public int clickCnt;

    void increase() {
        clickCnt++;
        currentCount = childInc.IncrementCount(currentCount); 
    }
    
    void decrease() {
        clickCnt++;
        currentCount = childDec.decreaseCount(currentCount); 
    }

    void reset() {
        currentCount = clickCnt = childRes.reset();
    }

}