@page "/"

<h1>Welcome to the Blazor Clicking app.</h1>

<div>
    <label>What number do you want to start with?</label>
    <input type="number" @bind="@currentCount">
    
</div>
 
<a href="/counter/@currentCount"><button class="btn btn-warning">Go To Counter</button></a>

@code {
    private int currentCount {get;set;}
}

